<% if comment && comment.person %>
<li>
  <b><%= comment.body %></b>
  by <%= comment.person.email %> 
  <%= link_to 'Edit', edit_thought_comment_path(@thought, comment) %> | 
  <%= link_to 'Destroy', [@thought, comment], :confirm => 'Are you sure?', :method => :delete %>
</li>
<% end %>