$("#comments").append("#{escape_javascript(render(@comment))}");
new_comment_text_area = $("#new_comment").find("#comment_body")
new_comment_text_area.val('');
new_comment_text_area.keyup();
initInlineEditBindings();
initAjaxBindings();