$("#comments").append("#{escape_javascript(render(@comment))}");
$("#comment_body").val('');
$("#comment_body").keyup();
$("#comment_#{@comment.id}").children('.people-content').animate({ backgroundColor: '#000', color: '#fff' }, 1000);