= javascript ['jquery.resize-font','jquery.tipsy']
.body.resize-font.people-content= display_text @comment.body
.space-top= link_to t(:back), thought_path(@thought,:anchor => comment_a_name(@comment)), :class => 'action'
