%h1
  Extend Crumple with add-ons. 
  %br
  Some are free. Some are pricey.
%br
%h2
  We all think differently
%pre
  :preserve
    "Thinking is nothing but talking to yourself," said Feynman.
    
    "Oh yeah?" said Bennie. "Do you know the crazy shape of a 
    crankshaft in a car? How did you describe it when you were
    talking to yourself?"
%br
%h2
  Kinds of minds
%p
  Sometimes a thought isn't expressible in plain text.
%p
  Often it's a picture or a sound or a mathematical equation or 
  some computer code.
  %br
  Extend Crumple with additional thought types.
  %ul
    %li drawings
    %li musical notation
    %li mathematics
    %li to-do items
    %li attachments (photos, files, etc.)
    %li computer languages
    %li and more...
%h2
  Play, arrange and rearrange
%p
  Add powerful capabilities for seeing the big picture.
  %ul
    %li outlines
    %li lists
    %li mind maps
    %li journals
    %li scrapbooks
    %li charts & graphs
    %li and more...  
%br
%br
%h2
  Developers
%p
  Developers, use the Crumple API to create new add-ons and make some money.