.white {
  color: white; }

.big-size {
  font-size: 1em; }

.norm-size {
  font-size: 0.8em; }

.system-content, .lil-size {
  font-size: 0.6em; }

.system-content-alert {
  color: white; }

/* basic classes */
td, th, tr, table {
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0; }

html, body {
  height: 100%; }

body {
  background-color: black;
  color: #aaaaaa;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  border: 0; }

textarea {
  border: 0; }

input[type="text"], textarea {
  font-family: "Times New Roman", Georgia, Serif; }

.person_new input[type="text"] {
  font-family: Verdana, Helvetica, Arial, sans-serif; }

input[type="text"], input[type="password"] {
  font-size: 1em;
  width: 15em; }

input[type="submit"] {
  text-transform: capitalize; }

select {
  font-size: 1em;
  min-width: 10em; }

img, a img {
  vertical-align: middle; }

a img {
  border: none; }

a:visited {
  text-decoration: none; }

a:active {
  text-decoration: none; }

a:hover {
  text-decoration: underline;
  color: white; }

a {
  color: #aaaaaa; }

a:link {
  text-decoration: none; }

a.link {
  text-decoration: underline;
  color: white; }

.align-left {
  float: left; }

.align-right {
  float: right; }

.five-px-left {
  margin-left: 5px; }

.three-px-left {
  margin-left: 3px; }

.three-px-top {
  margin-top: 3px; }

.lil-space-left {
  margin-left: 1em; }

.super-lil-space-left {
  margin-left: 0.5em; }

.super-lil-space-right {
  margin-right: 0.5em; }

.lil-space-right {
  margin-right: 1em; }

.lil-space-top {
  margin-top: 1em; }

.lil-space-bottom {
  margin-bottom: 1em; }

.space-left {
  margin-left: 2em; }

.space-right {
  margin-right: 2em; }

.space-top {
  margin-top: 2em; }

.space-bottom {
  margin-bottom: 2em; }

.big-space-left {
  margin-left: 6%; }

.big-space-right {
  margin-right: 6%; }

.big-space-top {
  margin-top: 6%; }

.big-space-bottom {
  margin-bottom: 6%; }

.half {
  width: 45%; }

.one-third {
  width: 30%; }

.two-thirds {
  width: 60%; }

.full {
  width: 100%; }

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block; }

.center-text {
  text-align: center; }

.prompt {
  font-size: 0.8em;
  color: #aaaaaa;
  text-transform: capitalize; }

.subtle-prompt {
  font-size: 0.7em;
  color: #555555;
  text-transform: capitalize; }

a.action, .action a {
  font-size: 0.8em;
  text-decoration: underline;
  text-transform: uppercase;
  color: #aaaaaa; }

a.subtle-action, .subtle-action a {
  font-size: 0.6em;
  text-decoration: underline;
  color: #555555;
  text-transform: lowercase; }

a.clickable-object {
  color: white;
  font-family: "Times New Roman", Georgia, Serif; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

/* begin -- for sticky footers -- begin */
#wrap {
  min-height: 100%; }

#main {
  overflow: auto;
  padding-bottom: 16em; }

/* must be same height as the footer */
#footer {
  font-size: 0.75em;
  color: #555555;
  padding: 0 5%;
  /* container margin and footer padding should match*/
  position: relative;
  margin-top: -16em;
  /* negative value of footer height */
  height: 16em;
  clear: both; }

#footer_container {
  padding-top: 11em; }

.valign32 {
  height: 32px;
  line-height: 32px; }

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px; }

/* end -- for sticky footers -- end */
#footer a:link {
  text-decoration: none; }

#footer a:visited {
  text-decoration: none; }

#footer a:active {
  text-decoration: none; }

#footer a:hover {
  color: white;
  text-decoration: underline; }

#footer a {
  color: #555555;
  text-transform: capitalize; }

#container {
  padding: 0;
  margin: 0 5%;
  /* container margin and footer padding should match*/ }

#home_marketing_container #product_name a:hover {
  text-decoration: underline; }

#home_marketing_container #product_name a {
  color: white;
  text-decoration: none; }

#home_marketing_container #product_logo {
  float: left;
  margin-right: 12px; }

#home_marketing_container #product_name {
  text-transform: capitalize;
  font-size: 2.7em; }

#home_marketing_container #product_tag_line {
  font-size: 0.9em;
  margin-top: -1px; }

#home_marketing_container #product_version {
  font-size: 0.6em;
  vertical-align: top; }

#header {
  margin: 6% 0; }

#header #sign_in_sign_up {
  height: 57px;
  line-height: 57px; }

#top-nav a, #sign_in_sign_up a {
  text-transform: uppercase; }

#about {
  margin: 5% 0px; }

.thought-body-listing {
  padding: 1em;
  font-size: 1.5em; }

.thought-body-listing a:link {
  text-decoration: none; }

.thought-body-listing a:visited {
  text-decoration: none; }

.thought-body-listing a:active {
  text-decoration: none; }

.thought-body-listing a:hover {
  text-decoration: underline; }

.new_thought .body {
  height: 12em; }

.new_comment .body {
  height: 1em; }

.edit_thought .body {
  height: 0; }

.body-container {
  padding-right: 3px; }

.body {
  /* width and 2 x padding need to add to 100% */
  line-height: 1.5em;
  width: 100%;
  overflow: hidden; }

form {
  display: inline; }

form .body-container {
  padding-right: 0; }

form .body {
  width: 98%;
  padding: 1%;
  border: solid 1px white;
  /* this border is to help align the grid, it's a hack */ }

.body a {
  color: black; }

#flash_notice, #flash_error, #flash_alert {
  padding: 0.75em;
  margin: 3% 0;
  color: white;
  border: solid 1px white; }

#flash_notice {
  background-color: #555555; }

#flash_error, #flash_alert {
  background-color: #7d0101; }

#viz_container {
  border: 1px solid #000000;
  padding: 0;
  width: 100%;
  height: 40em; }

.field_with_errors {
  display: inline; }

.error_messages {
  width: 30em;
  border: 2px solid #CF0000;
  padding: 0;
  margin-bottom: 1em;
  background-color: #f0f0f0;
  font-size: 0.9em; }

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  font-size: 0.9em;
  margin: 0;
  background-color: #c00;
  color: white;
  padding: 0.5em; }

.error_messages ul {
  margin: 1em; }

a.current-nav, #footer a.current-nav {
  color: white; }

.optional {
  margin-top: -2px; }

.people-content {
  font-family: "Times New Roman", Georgia, Serif;
  color: white; }

.people-content a {
  color: white; }

.subtle-border-top {
  border-top: 1px dashed #555555; }

.big-padding {
  padding-top: 6%;
  padding-top: 6%; }

.norm-padding {
  padding-bottom: 3%;
  padding-top: 3%; }

.lil-padding {
  padding-bottom: 1%;
  padding-top: 1%; }

.lil-padding-left {
  padding-left: 1%; }

.big-norm-padding {
  padding-top: 6%;
  padding-bottom: 3%; }

.lil-norm-padding {
  padding-top: 1%;
  padding-bottom: 3%; }

.norm-lil-padding {
  padding-top: 3%;
  padding-bottom: 1%; }

.norm-big-padding {
  padding-top: 3%;
  padding-bottom: 6%; }

.big-lil-padding {
  padding-top: 6%;
  padding-bottom: 1%; }

.lil-big-padding {
  padding-top: 1%;
  padding-bottom: 6%; }

.norm-none-padding {
  padding-top: 3%;
  padding-bottom: 0; }

.none-norm-padding {
  padding-top: 0;
  padding-bottom: 3%; }

.none-big-padding {
  padding-top: 0;
  padding-bottom: 6%; }

.none-lil-padding {
  padding-top: 0;
  padding-bottom: 1%; }

.dotted-border-left {
  border-left: 1px dotted #555555; }

.disabled {
  visibility: hidden; }

.pagination a, .pagination em {
  margin: 0 0.5em; }

.pagination a {
  font-size: 0.8em;
  text-decoration: underline;
  text-transform: uppercase;
  color: #aaaaaa; }

a.previous_page {
  margin-right: 1em; }

a.next_page {
  margin-left: 1em; }

.pagination em {
  font-size: 0.8em;
  font-style: normal;
  color: white; }

#q {
  width: 100%; }

#q_submit {
  padding-left: 1.5em; }
