#about
  = image_tag 'logo500.png', :class => 'center-image'
  .center-text Crumple is a notebook.
  .center-text.big-space-top
    The Crumple logo is a remix of the photograph
    = link_to('Fail at Writing', 'http://www.flickr.com/photos/23123267@N03/2606380637/', :class=>'link')
    %br by
    = link_to 'h3_six', 'http://www.flickr.com/people/23123267@N03/', :class=>'link'
    and is licensed under 
    = link_to('Creative Commons', 'http://creativecommons.org/licenses/by-sa/2.0/deed.en', :rel=>'license cc:license', :class=>'link') + '.'