.center-text.big-space-top
  Crumple is licensed under a
  = link_to 'Creative Commons', 'http://creativecommons.org', :class => 'link'
  = link_to('Attribution-ShareAlike 3.0 Unported', 'http://creativecommons.org/licenses/by-sa/3.0/', :class => 'link')
  license.