%span.no-wrap
  %span.people-content= link_to tag.name, tag_thoughts_path(tag), :class=>'clickable-object'
  %span.super-subtle-delete-action.sub-lil-space-left= link_to 'x', tag, :confirm => t(:r_u_sure).capitalize, :method => :delete
%span.sub-lil-space-right &nbsp;
