%span.no-wrap.tagging-container
  %span.people-content= link_to tagging.tag.name, tag_thoughts_path(tagging.tag), :class=>'clickable-object'
  %span.super-subtle-delete-action= link_to 'x', tagging, :confirm => t(:r_u_sure).capitalize, :method => :delete, :remote => true
%span &nbsp;
