- unless screen_shot_urls.empty?
  .subtle-border-top.norm-none-padding
    - screen_shot_urls.each do |url|
      %span.align-left.space-right.space-bottom
        = link_to_pinky_img(url)
    .clear