.subtle-prompt= t(:state)
%span.loading
  = image_tag 'ajax-loader-indicator.gif', :class => 'on-top sub-lil-space-top'
.state-container{:id => ['thought', thought.id, 'state', 'container']}
  = render 'thoughts/meta_data_state_links', :thought => thought
