%ul.ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all
  %li.ui-state-default.ui-corner-top.ui-tabs-selected.ui-state-active
    %a{:href=>'#tabs-1'}= image_tag('plain_text_29.png')
  - current_person.thought_add_ons.each_with_index do |a,i|
    %li.ui-state-default.ui-corner-top
      %a{:href=>"#tabs-#{i+2}"}= a.icon_29_url.blank? ? a.name : image_tag(a.icon_29_url)
