.align-left
  = link_to t(:focus), focus_thought_path(thought), :class=>'space-right'
  %span.edit-thought-link= link_to t(:edit), edit_thought_path(thought)
.align-right
  = link_to t(:delete), thought_path(thought), :confirm => t(:r_u_sure).capitalize, :method => :delete, :class => 'delete-action'
