.subtle-border-top.none-big-padding
  .align-left.three-fourths.list_thoughts_main
    .list-thought.lil-space-top.body.resize-font.people-content
      = link_to(truncate(simpler_format(h(thought.body)), 313).html_safe, thought)
    .space-top.subtle-action= render 'thoughts/thought_controls', :thought => thought
  .align-right.one-fourth.list_thoughts_meta.lil-space-top
    = render 'thoughts/meta_data', :thought => thought, :include_comments_count => true
  .clear