= javascript ['jquery.resize-font']
#thoughts_show
  #thought_body.thought-body.resize-font.people-content= display_text @thought.body
  .thought-controls
    .align-right
      .space-top= link_to 'Back', @thought, :class=>'action'
    .clear
