= javascript ['jquery.resize-font']
#thoughts_show
  #thought_body.thought-body.resize-font= display_text @thought.body
  .thought-controls
    .align-right
      = link_to 'Back', @thought, :class=>'action'
    .clear
