<h1>
  Thoughts
  <% if @tags %>
  for tags: 
  <%= @tags.join(' ')  %>
  <%= link_to 'x', thoughts_path %>
  <% end %>
</h1>
<%= render :partial => "thoughts", :locals => { :cloud => @tags_for_cloud, :thoughts => @thoughts, :project => nil } %>
