- if @thought.is_a?(PlainTextThought)
  = render :partial => 'plain_text_thoughts/show_plain_text_thought', :locals => {:plain_text_thought => @thought}
- else
  = render :partial => 'add_on_thoughts/show_add_on_thought', :locals => {:add_on_thought => @thought}
