<h2>Thoughts visualization</h2>

<script type="text/javascript+protovis">

var thoughts = <%= viz_data(current_person, @thoughts) %>

// var w = document.body.clientWidth, h = document.body.clientHeight, colors = pv.Colors.category19();
var w = 500, h = 500, colors = pv.Colors.category19();

var vis = new pv.Panel()

.width(w)
.height(h)
.fillStyle("white")
.event("mousedown", pv.Behavior.pan())
.event("mousewheel", pv.Behavior.zoom());

var force = vis.add(pv.Layout.Force)
.nodes(thoughts.nodes)
.links(thoughts.links);

force.link.add(pv.Line);

force.node.add(pv.Dot)
.size(function(d) (d.linkDegree + 4) * Math.pow(this.scale, -1.5))
.fillStyle(function(d) d.fix ? "brown" : colors(d.group))
.strokeStyle(function() this.fillStyle().darker())
.lineWidth(1)
.title(function(d) d.nodeName)
.event("mousedown", pv.Behavior.drag())
.event("drag", force);

vis.render();

</script>

