#flash_container
  - flash.each do |name, msg|
    - next if msg.blank?
    %div{:id => ['flash', name]}
      .align-left
        = msg.html_safe
      .align-right.action
        .close-flash-message-link= link_to(t(:close), '')
      .clear
